html,
body,
#root {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  padding: 0 1rem;
}

.content {
  /* min-height: calc(100vh - 70px - 64px); */
  flex: 1 1 auto;
  padding: 1.5rem 0;
}

.img-max-size {
  max-height: 400px;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0.65rem;
}

.margin-right {
  margin-right: 30px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.wrapper-mod {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}